<h1>Show Page for Employees</h1>
<h3><%= @employee.first_name %> <%= @employee.last_name %></h3>
<%= @employee.alias %> <br>
<%= @employee.title %> <br>
<%= @employee.office %> <br>
<%= image_tag "#{@employee.img_url}" %> <br>
<%= @employee.dog_id %> <br>
<%= button_to "delete", @employee, :method => :delete %>